<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
    </array>
    <key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
    <key>DefaultCompletionName</key>
	<string>NewKiwiSpec</string>
	<key>Description</key>
	<string>Kiwi spec file</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
    <string>___FILEBASENAME___.m</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>Spec class of Kiwi BDD framework</string>
</dict>
</plist>
